.col-md-4.col-md-offset-4
  - if is_admin?
    = link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-default btn-block'

  = link_to 'Return Home', root_path, class: 'btn btn-lg btn-success btn-block'
