%section#wrapper{data: {link: "link-members"}}
  .col-lg-12.col-sm-2
    = render 'profiles/partials/actionbar'

    %table.table.table-striped
      %thead
        %tr
          %th Email
          %th Last Name
          %th First Name
          %th Status
          %th.action_column
            Actions

      %tbody
        - if @profiles.count == 0
          %tr
            %td(colspan="4")
              No profiles defined
        - else
          - @profiles.each do |profile|
            %tr
              %td
              %td
              %td
              %td
              %td.action_column
                = render 'profiles/partials/actions', profile: profile

      %tfoot
        %tr
          %th Email
          %th Last Name
          %th First Name
          %th Status
          %th.action_column
            Actions