.form-group
  %label Tell us about your company
  = f.text_area :description, rows: 60, class: "form-control text-area"

:javascript
  console.log("hello");
  new nicEditor().panelInstance('vendor_description');
