%span.dropdown
  %button.btn.btn-primary.btn-xs.dropdown-toggle{'data-toggle'=> 'dropdown', 'data-target' => '#', href: '#'}
    Manage
    %span.caret
    %span.sr-only Toggle Dropdown
  %nav.dropdown-menu
    %li
      = link_to edit_message_path(message) do
        %i.fa.fa-edit
        Edit Message
    %li
      = link_to message_tag('i', '', class: 'fa fa-trash-o') + " Delete",
        message, confirm: "Are you sure you want to delete the message?", method: :delete
