.col-md-6.col-md-offset-3
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .bs-callout.bs-callout-green1
      %h4.bs-title First Coast Green Pages Signin

      .form-group
        = f.email_field :email, :autofocus => true, class: "form-control", placeholder: 'Email address'

      .form-group
        = f.password_field :password, class: "form-control", placeholder: 'Password'

      - if devise_mapping.rememberable?
        .checkbox
          %label
            %input{name: "remember_me", id: "remember_me", type: "checkbox"}
            Remember Me

      .row
        .col-md-4
          = f.submit "Sign in", class: "btn btn-green btn-block"