.dl
  .brand
    %h2
      Free Listing
  .discount.alizarin
    30%
    .type
      off
  .descr
    %strong
      Mei mucius gloriatur reprimique mollis*.
    Ad sonet perfecto antiopam mei, denique molestie ne has.
  .ends
    %small
      * Conditions and restrictions apply.
  .coupon.midnight-blue
    %a.open-code{"data-toggle" => "collapse", :href => "#code-1"} Get a code
    #code-1.collapse.code
      LV5MAY14