.field
  .ui.fluid.selection.dropdown
    .text Select a day
    %i.dropdown.icon
    %input{name: "day", type: "hidden"}
      .menu
        .item{data:{value: "mon"}} Monday
        .item{data:{value: "tue"}} Tuesday
        .item{data:{value: "wed"}} Wednesday
        .item{data:{value: "thr"}} Thursday
        .item{data:{value: "fri"}} Friday
        .item{data:{value: "sat"}} Saturday
        .item{data:{value: "sun"}} Sunday