- flash.each do |name, msg|
  - if msg.is_a?(String)
    .row(style="margin-top: 20px")
      .columns.large-12.small-2
        %div{:class => "alert-box #{name.to_s == 'notice' ? 'success' : 'alert'}", "data-alert" => ""}
          = content_tag :div, msg
          %a.close{:href => "#"} &times;

:javascript
  $(function() {
    $('.alert-box').delay(2000).fadeOut(500)
  });