.row
  .col-md-4
    = image_tag "logo_usgbc_small.png", class: 'img-responsive'

  .col-md-4
    Social Media Here

  .col-md-4
    %div(style="padding-top: 10px; color: #fff")
      U.S. Green Building Council North Florida Nonprofit Chapter.
      A 501(c)3 nonprofit striving for a sustainable region

      .address(style="margin-top: 20px")
        P.O. Box 331506
        %br
        Atlantic Beach, FL  32233
        %br
        .904.535.0055
        %a{href: "mailto:greenpages@usgbcnf.org"}
          greenpages@usgbcnf.org