#footer.clearfix
  .col-md-4
    = render 'partials/contact'

  .col-md-4

  .col-md-4
    .row
      .col-md-12
        = image_tag("logo_usgbc_small.png")
      .col-md-12
        %div(style="padding-top: 10px; color: #fff")
          U.S. Green Building Council North Florida Nonprofit Chapter.
          A 501(c)3 nonprofit striving for a sustainable region
          %br
          %br
          .address
            P.O. Box 331506
            %br
            Atlantic Beach, FL  32233
            %br
            .904.535.0055
            %a{href: "mailto:greenpages@usgbcnf.org"}
              greenpages@usgbcnf.org
