#footer
  .container
    .row.pad-20px
      .col-md-4
        = render 'partials/contact'

      .col-md-4
        -#= render 'partials/social'

      .col-md-4
        = render 'partials/footbrand'
