#footer.clearfix
  .container
    .row.pad-40px
      .col-md-4
        = render 'partials/contact'

      .col-md-4
        = render 'partials/social'

      .col-md-4
        = render 'partials/footbrand'
