.field
  %label State
  .ui.fluid.selection.dropdown
    .text Select
    %i.dropdown.icon
    %input{name: f, id: f, type: "hidden"}
      .menu
        - us_states_name_and_abbreviation.each do |state|
          .item{data:{value: state[1]}}
            = state[0]
