.onoffswitch
  %input#f.onoffswitch-checkbox{:checked => "", :name => "onoffswitch", :type => "checkbox"}
    %label.onoffswitch-label{:for => f}
      %span.onoffswitch-inner
      %span.onoffswitch-switch
