.row
  .col-md-12
    %h3.page-header
      Demographics

  .col-md-5

  .col-md-7
    .row
      .col-md-4
        .form-group
          %label Gender
          = f.select :gender, genders, { include_blank: '' }, class: 'form-control'

      .col-md-4
        .form-group
          %label Birth Month
          = f.select :birth_month, months, { include_blank: '' }, class: 'form-control'
          -#= select_month select_month(f.object.birth_month) || select_month(1),
          -#  { field_name: 'birth_month', prefix: 'profile', include_blank: '' }, class: 'form-control'

      .col-md-4
        .form-group
          %label Birth Day
          = f.select :birth_day, days, { include_blank: '' }, class: 'form-control'
          -#= select_day nil, { field_name: 'birth_day', prefix: 'profile', include_blank: '' }, class: 'form-control'