.row
  .col-md-5.col-sm-5
    .form-group
      %label * First Name
      = f.text_field :first_name, autofocus: true, class: 'form-control'

  .col-md-2.col-sm-2
    .form-group
      %label Middle Initial
      = f.text_field :middle_initial, class: 'form-control'

  .col-md-5.col-sm-5
    .form-group
      %label * Last Name
      = f.text_field :last_name, class: 'form-control'

.row
  .col-md-4.col-sm-4
    .form-group
      %label Home Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_home, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon