.container
  .row.pad-20px
    .col-md-8
      = render 'home/partials/featured'

    .col-md-4
      = render 'home/partials/categories'

    .col-md-8
      = render 'home/partials/reviews'

    .col-md-4
      = render 'home/partials/ads'