.form-group
  %label * Email Address (username)
  = f.email_field :email, autofocus: true, class: 'form-control'

.row
  .col-md-6
    .form-group
      %label * Password
      = f.password_field :password, autocomplete: "off", class: 'form-control'

  .col-md-6
    .form-group
      %label * Password Confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'