%section#wrapper{data: {link: "link-pages"}}
  .row
    .col-lg-12.col-sm-2
      %h2
        = @page.title

      = @page.body.html_safe

    .col-lg-12.col-sm-2
      = link_to 'Back', pages_path, class: 'btn btn-default'

      - if current_user.admin?
        = link_to 'Edit', edit_page_path(@page), class: 'btn btn-primary'