%nav#admin-nav.navmenu.navmenu-default.navmenu-fixed-left.offcanvas{:role => "navigation"}
  %a.navmenu-brand{:href => "#"} Brand
  %ul.nav.navmenu-nav
    %li.active
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link

.navbar.navbar-default.navbar-fixed-top
  %button.navbar-toggle{"data-canvas" => "body", "data-target" => "#admin-nav", "data-toggle" => "offcanvas", :type => "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar