.bs-example.bs-navmenu-offcanvas-example
  #myNavmenuCanvas
    %nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas{:role => "navigation"}
      %a.navmenu-brand{:href => "#"} Brand
      %ul.nav.navmenu-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
    .navbar.navbar-default.navbar-fixed-top
      %button.navbar-toggle{"data-canvas" => "#myNavmenuCanvas", "data-placement" => "left", "data-target" => "#myNavmenu", "data-toggle" => "offcanvas", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in aliquet nisl.
    Praesent sed leo congue, fringilla eros eu, tempus metus. Nam mollis odio ipsum, non vehicula
    ipsum accumsan sodales. Morbi varius vitae elit euismod cursus. Donec a dapibus justo, in facilisis nisi.
    Suspendisse ut turpis dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui risus,
    tincidunt at odio ut, ultrices dignissim ipsum. Cras ultrices erat nec leo luctus varius. Nulla sollicitudin
    tincidunt nulla, ut porta mauris volutpat vitae. Suspendisse ornare dolor sit amet massa venenatis pulvinar.
