.panel.panel-info.flex-col
  .panel-heading
    %h4.panel-title
      %i.fa.fa-trophy
      Advertisements

  .panel-body.flex-grow
    There are no advertisements in the system.  Be the first to advertise on First Coast Green Pages!