.col-lg-8
  = render 'home/partials/featured'

.col-lg-4
  .panel.panel-success
    .panel-heading
      %h4.panel-title
        %i.fa.fa-leaf
        Browse by Category
    .panel-body
      %ul
        - Category.where(ancestry: nil).each do |cat|
          .category
            %i.fa.fa-angle-double-right
            = link_to cat.title, cat

.col-lg-8
  .panel.panel-success
    .panel-heading
      %h4.panel-title
        %i.fa.fa-quote-left
        Recent Reviews

    .panel-body
      Reviews go here

.col-lg-4
  .panel.panel-info
    .panel-heading
      %h4.panel-title
        %i.fa.fa-trophy
        Featured Listings

    .panel-body
      Listings go here

:javascript
  var colors = [
    { bg: 'rgb(205,202,159)'  }, // Green
    { bg: 'rgb(195,208,146)'  },
    { bg: 'rgb(151,168,52)'   },
    { bg: 'rgb(110,166,52)'   },
    { bg: 'rgb(255,212,98)'   }, // Orange
    { bg: 'rgb(239,140,64)'   },
    { bg: 'rgb(213,116,68)'   },
    { bg: 'rgb(213,116,68)'   }, // Blue
    { bg: 'rgb(0,175,209)'    },
    { bg: 'rgb(111,191,187)'  },
    { bg: 'rgb(70,141,151)'   },
    { bg: 'rgb(70,141,151)'   }
  ];