.panel.panel-success.flex-col
  .panel-heading
    %h4.panel-title
      %i.fa.fa-quote-left
      Recent Reviews

  .panel-body.flex-grow
    - if Review.count == 0
      There are currently no reviews in the system.  Be the first to review a green business!