/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$topbar-bg: rgb(182,216,64);
$topbar-dropdown-bg: rgb(182,216,64);
$topbar-link-bg-color-hover: rgb(182,216,64);
$topbar-link-bg-hover: rgb(239,140,64);
$button-margin-bottom: 0;

@import "foundation_and_overrides";
@import "font-awesome";

section {
  margin: 0;
  padding: 0;
}

.actions {
  margin-top: 20px;
}

.middle {
  text-align: center;
  margin: 0 auto;
}

