/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.timepicker
 *= require_self
 */

@import "colors";
@import "bootstrap_overrides";
@import "bootstrap";
@import "docs";
@import "jasny-bootstrap";
@import "wizard-nav";
@import "bootstrap-select";
@import "datepicker3";
@import "fileinput";
@import "font-awesome";
@import "badger";
@import "admin";
@import "ekko-lightbox";

//* {
//  margin: 0;
//}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f6fae9
}

body {
  padding-top: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

.red::first-letter {
  color: red;
}

#content_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}

#brand-container {
  background: #f6fae9;
  background: -webkit-linear-gradient(top, #f6fae9, $green1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #f6fae9, $green1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #f6fae9, $green1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #f6fae9, $green1); /* Standard syntax */
  border-bottom: solid 5px #468d97
}

.logo {
  background: image-url("bg_brand.png") no-repeat center;
  height: 250px;
  width: 100%;
  margin-bottom: 0px;
}

#footer, .push {
//  padding: 50px 0;
  min-height: 150px;
}

#footer {
  background-color: darken($green5, 0.5);
}

.thumb {
  height: 100px;
  width: 100px;
}

textarea.vert-only {
  resize: vertical;
}

textarea.horiz-only {
  resize: horizontal;
}

.fill-text-area {
  width: 100%;
  height: 100%;
}

.categories ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outisde;
}

.categories ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outisde;
}

.pad-20px {
  padding-top: 20px;
}

.pad-40px {
  padding-top: 40px;
}

.down-20px {
  padding-bottom: 20px;
}

.action_column {
  width: 150px;
  text-align: center
}

.panel-body.custom {
  padding-bottom: 0;
}

h4.bs-title {
  padding-bottom: 20px;
}

.bs-callout-green1 {
  background-color: $green1;
  border-color: $green5;
}

.bs-callout-green1 h4 {
  color: #fff;
}

.bs-callout-green2 {
  background-color: $green2;
  border-color: $green5;
}

.bs-callout-green2 h4 {
  color: #fff;
}

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}