/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.timepicker
 *= require_self
 */

@import "colors";
@import "bootstrap_overrides";
@import "bootstrap";
@import "jasny-bootstrap";
@import "bootstrap-select";
@import "datepicker3";
@import "fileinput";
@import "font-awesome";
@import "admin";

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #fff
}

body {
  padding-top: 70px;
}

#content_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}

.logo {
  background: image-url('logo_fcgp.png') no-repeat center;
  height: 250px;
  margin-bottom: 20px;
}

#footer, .push {
  height: 150px;
}

#footer {
  background-color: darken($green5, 0.5);
}

.categories ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outisde;
}

.categories ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outisde;
}

.down-20px {
  margin-top: 20px;
}

.action_column {
  width: 150px;
  text-align: center
}