%section#wrapper{data: {link: "link-categories"}}
  - if member_signed_in? && current_member.admin?
    = render 'categories/partials/index/admin'
  - else
    = render 'categories/partials/index/public'