.col-md-12
  .bs-docs-section
    %h3.page-header
      Member Dashboard

.col-md-3
  .list-group
    %a.list-group-item.active
      %h4.list-group-item-heading
        Member Options
      %p.list-group-item-text
        The following options are available to you as a member

    = link_to edit_profile_path(current_member), class: 'list-group-item' do
      %i.fa.fa-user
      Edit Profile

    = link_to edit_member_password_path, class: 'list-group-item' do
      %i.fa.fa-key
      Change Password

    %div.list-group-item
      = link_to new_vendor_path, class: 'btn btn-success btn-block' do
        Register a Vendor